* {
    box-sizing: border-box;
  }

  h1 {
      text-align: center;
  }

.future-forecast {
    border: 2px;
    border-radius: 15px;
    background-color: rgb(70, 130, 185);
    color: white;
}
.list-group {
    max-width: 100%;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}